.Details button {
  background-color: #deefb7;
  width: 150px;
  color: black;
  border-radius: 5px;
  font-weight: bolder;
  padding: 10px;
  border: #deefb7;
  transition-duration: 0.4s;
  cursor: pointer;
  border: 2px solid #135c4a;
  margin-right: 50px;
}
.Details button:hover {
  color: white;
  background-color: #6d1321;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.Details button a {
  color: black;
}

.Details {
  margin-left: 15px;
}

.Details .back-button {
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.Details-holder {
  text-align: center;
}

.Details .Details-text {
  background-color: #57ff9257;
  padding: 20px;
}

.Details img {
  margin-top: 10px;
  height: 200px;
  width: auto;
}

@media only screen and (min-width: 768px) {
  .Details .Details-holder {
    display: flex;
    justify-content: space-evenly;
  }
  .Details .Details-text {
    margin-top: 45px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .Details img {
    height: 450px;
    width: auto;
  }
  .Details .Details-text {
    background-color: #57ff9257;
    padding: 0px;
    max-height: 450px;
  }
}
