EventCard,
li {
  margin: 5px;
  flex-basis: 33.33%;
  text-align: center;
  background-color: #deefb7;
  border-radius: 20px;
  padding: 10px;
  border: 1px solid #262626;
  overflow: hidden;
  position: relative;
}

.EventCard .event-img {
  width: 100%;
  object-fit: contain;
}

.EventCard .cardbg {
  opacity: 0.3;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
}

.EventCard .cardcontent {
  position: relative;
}
