li {
  margin: 5px;
  flex-basis: 33.33%;
  text-align: center;
  background-color: #deefb7;
  border-radius: 20px;
  padding: 10px;
  border: 1px solid #262626;
  overflow: hidden;
  position: relative;
  z-index: -1;
}

.EventCard .event-img {
  width: 100%;
  object-fit: contain;
}

.EventCard .cardbg {
  opacity: 0.1;
  position: absolute;
  left: 0;
  width: 100%;
  height: 50%;
  bottom: 0;
}

.EventCard .cardcontent {
  position: relative;
}

@media only screen and (min-width: 768px) {
  .EventCard,
  li {
    flex-basis: 25%;
    margin: 5px 0;
  }
}
