.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #262626;
  padding: 10px;
  margin-bottom: 5px;
  border-bottom: 3px double #6d1321;
  border-top: 3px double #6d1321;

  width: 100%;
}
.Header form {
  margin: 0;
}
.Header label {
  margin: px;
}
.Header button {
  background-color: #deefb7;
  width: 150px;
  color: black;
  border-radius: 5px;
  font-weight: bolder;
  padding: 10px;
  border: #deefb7;
  transition-duration: 0.4s;
  cursor: pointer;
  border: 2px solid #135c4a;
}

.button-holder {
  margin-right: 20px;
}

.Header button:hover {
  color: white;
  background-color: #6d1321;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.Header img {
  height: auto;
  width: 200px;
  margin-left: 10px;
  margin-right: 20px;
}

@media only screen and (min-width: 768px) {
  .Header .button-holder {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
  }
}
